/* css reset */
*{
margin: 0;
padding: 0;
}

@font-face {
  font-family: 'Monoton';
  font-style: normal;
  font-weight: 400;
  src: local('Monoton'), local('Monoton-Regular'), url(http://themes.googleusercontent.com/static/fonts/monoton/v4/AKI-lyzyNHXByGHeOcds_w.woff) format('woff');
}

@font-face {
  font-family: 'Iceland';
  font-style: normal;
  font-weight: 400;
  src: local('Iceland'), local('Iceland-Regular'), url(http://themes.googleusercontent.com/static/fonts/iceland/v3/F6LYTZLHrG9BNYXRjU7RSw.woff) format('woff');
}


body {
  color: #000;
  background-color: #6b063e;
  z-index: 100;
  transition: background-color 1s ease;

  /* background: linear-gradient(black, pink, hotpink, steelblue, midnightblue); */
  cursor: url(./image/puppycopy128.png), auto;
}
.Red {
  font-size: 2.5em;
}

h2 {
  text-align: center;
}

/* panel styles */
.panel {
  position: relative;
  /* min height incase content is higher than window height */
  min-height: 100vh;
  font-family: sans-serif;
  /* outline: 10px solid hotpink; */
  /* turn above on to see the edge of panels */
}

/* colours */
.color-violet {
  background-color: #7A4EAB;
}

.color-blue {
  background-color: #2F8FED;
}
.color-green {
  background-color: #4DCF42;
}
.color-yellow {
  background-color: #FAEB33;
}

.color-red {
  background-color: #F2293A;
}



header {
  display: flex;
  justify-content: space-evenly;
}

.slideshow img{
   margin-top: 80px;
}


/*neeeeoooon*/
p{
  text-align:center;
  font-size:7em;
  margin:20px 0 20px 0;
}

a{
  text-decoration:none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

p:nth-child(1) a{
  color:#FF1177;
  font-family:Monoton;
}
p:nth-child(1) a:hover{
  -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
  -moz-animation: neon1 1.5s ease-in-out infinite alternate;
  animation: neon1 1.5s ease-in-out infinite alternate;
}
/*glow for webkit*/
@-webkit-keyframes neon1 {
  from {
  text-shadow: 0 0 10px #fff,
           0 0 20px  #fff,
           0 0 30px  #fff,
           0 0 40px  #FF1177,
           0 0 70px  #FF1177,
           0 0 80px  #FF1177,
           0 0 100px #FF1177,
           0 0 150px #FF1177;
  }
  to {
  text-shadow: 0 0 5px #fff,
           0 0 10px #fff,
           0 0 15px #fff,
           0 0 20px #FF1177,
           0 0 35px #FF1177,
           0 0 40px #FF1177,
           0 0 50px #FF1177,
           0 0 75px #FF1177;
  }
}

/*glow for mozilla*/
@-moz-keyframes neon1 {
  from {
  text-shadow: 0 0 10px #fff,
           0 0 20px  #fff,
           0 0 30px  #fff,
           0 0 40px  #FF1177,
           0 0 70px  #FF1177,
           0 0 80px  #FF1177,
           0 0 100px #FF1177,
           0 0 150px #FF1177;
  }
  to {
  text-shadow: 0 0 5px #fff,
           0 0 10px #fff,
           0 0 15px #fff,
           0 0 20px #FF1177,
           0 0 35px #FF1177,
           0 0 40px #FF1177,
           0 0 50px #FF1177,
           0 0 75px #FF1177;
  }
}

/* glow */
@keyframes neon1 {
  from {
  text-shadow: 0 0 10px #fff,
           0 0 20px  #fff,
           0 0 30px  #fff,
           0 0 40px  #FF1177,
           0 0 70px  #FF1177,
           0 0 80px  #FF1177,
           0 0 100px #FF1177,
           0 0 150px #FF1177;
  }
  to {
  text-shadow: 0 0 5px #fff,
           0 0 10px #fff,
           0 0 15px #fff,
           0 0 20px #FF1177,
           0 0 35px #FF1177,
           0 0 40px #FF1177,
           0 0 50px #FF1177,
           0 0 75px #FF1177;
  }
}

p:nth-child(2) a{
  font-size:1.5em;
  color:#228DFF;
  font-family:Iceland;
}
p:nth-child(2) a:hover{
  -webkit-animation: neon2 1.5s ease-in-out infinite alternate;
  -moz-animation: neon2 1.5s ease-in-out infinite alternate;
  animation: neon2 1.5s ease-in-out infinite alternate;

}
@-moz-keyframes neon2 {
  from {
  text-shadow: 0 0 10px #fff,
           0 0 20px  #fff,
           0 0 30px  #fff,
           0 0 40px  #228DFF,
           0 0 70px  #228DFF,
           0 0 80px  #228DFF,
           0 0 100px #228DFF,
           0 0 150px #228DFF;
  }
  to {
  text-shadow: 0 0 5px #fff,
           0 0 10px #fff,
           0 0 15px #fff,
           0 0 20px #228DFF,
           0 0 35px #228DFF,
           0 0 40px #228DFF,
           0 0 50px #228DFF,
           0 0 75px #228DFF;
  }
}
@-webkit-keyframes neon2 {
  from {
  text-shadow: 0 0 10px #fff,
           0 0 20px  #fff,
           0 0 30px  #fff,
           0 0 40px  #228DFF,
           0 0 70px  #228DFF,
           0 0 80px  #228DFF,
           0 0 100px #228DFF,
           0 0 150px #228DFF;
  }
  to {
  text-shadow: 0 0 5px #fff,
           0 0 10px #fff,
           0 0 15px #fff,
           0 0 20px #228DFF,
           0 0 35px #228DFF,
           0 0 40px #228DFF,
           0 0 50px #228DFF,
           0 0 75px #228DFF;
  }
}

@keyframes neon2 {
  from {
  text-shadow: 0 0 10px #fff,
           0 0 20px  #fff,
           0 0 30px  #fff,
           0 0 40px  #228DFF,
           0 0 70px  #228DFF,
           0 0 80px  #228DFF,
           0 0 100px #228DFF,
           0 0 150px #228DFF;
  }
  to {
  text-shadow: 0 0 5px #fff,
           0 0 10px #fff,
           0 0 15px #fff,
           0 0 20px #228DFF,
           0 0 35px #228DFF,
           0 0 40px #228DFF,
           0 0 50px #228DFF,
           0 0 75px #228DFF;
  }
}


p {
  font-size:3.5em;
}

p a:hover{
  color:#ffffff;
}

.happyface {
  position: relative;
  margin: 0 auto;
  left:10%;
  top:5%;
}

.happyface:hover {
  -webkit-transform:rotate(360deg);
  transform:rotate(360deg);
  transition: all 1s linear;
}

.arrow img {
  position: relative;
  margin: 0 auto;
  display: block;
  top: 0%;
  left: 0%;
  -webkit-animation: arrow 2s both infinite;
  animation: arrow 2s both infinite;
}


@-webkit-keyframes arrow {
    0%, 20%, 50%, 80%, 100% {
      -webkit-transform: translateY(0);
    }
    40% {
      -webkit-transform: translateY(-30px);
    }
    60% {
      -webkit-transform: translateY(-15px);
    }
}

@keyframes arrow {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
    60% {
      transform: translateY(-15px);
    }
}



/* @-webkit-keyframes sdb07 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb07 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
} */



.dogfeet{
  position:absolute;
  left:350px;
  top:600px;
}
.dogfeetbig{
  position:absolute;
  left:550px;
  top:700px;
}

.WakeHappyUp{
  text-align: center;
}

.HappyChicken{
  text-align: center;
}
.Happytongue{
  position: absolute;
  left:70%;
}







.dogBone {
  text-align: center;
  z-index:2;
  transition:transform 500ms ;
}
.dogBone:hover{
    transform:translateX(20px,180px)
}

.riceball {

  text-align: center;

}
.riceball:hover {
  animation: shake 0.3s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(10px, 1px) rotate(0deg); }
  20% { transform: translate(-8px, 0px) rotate(5deg); }
  50% { transform: translate(-7px, 2px) rotate(-1deg); }
  80% { transform: translate(-10px, -1px) rotate(1deg); }
  100% { transform: translate(1px, -2px) rotate(-5deg); }
}




.dogwalk{
  text-align: center;
  z-index: 5;
}
.dogwalk img {
  z-index: 5;
}


.dogball1{
  position: absolute;
  top:16%;
  left:46%;
  z-index: 1;
  opacity: 0;

}
.dogball2{
  position: absolute;
  top:16%;
  left:46%;
  z-index: 1;
  opacity: 0;
  overflow: hidden;
  transition-duration: 0.3s;
  transition-property: transform;
}
.dogball2:hover {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
}

.dogball3{
  position: absolute;
  top:16%;
  left:46%;
  z-index: 1;
  opacity:0;
}
.dogball4{
  position: absolute;
  top:16%;
  left:46%;
  z-index: 1;
  opacity: 0;
  overflow: hidden;
  transition-duration: 0.8s;
  transition-property: transform;
}
.dogball4:hover {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
}

.showDogBall1 {
  opacity: 1;
  transform: translateY(-300px) rotate(45deg);
  transition: all 2s ease;
}
.showDogBall2 {
  opacity: 1;
  transform: translateX(300px) rotate(-45deg);
  transition: all 2s ease;
}
.showDogBall3 {
  opacity: 1;
  transform: translateY(200px) rotate(-45deg);
  transition: all 2s ease;
}
.showDogBall4 {
  opacity: 1;
  transform: translateX(-300px) rotate(45deg);
  transition: all 2s ease;
}




.happySleep{
  text-align: center;
  z-index: 120;

  -webkit-animation: hover_y 7s ease-in-out infinite;
  -moz-animation: hover_y 7s ease-in-out infinite;
  -o-animation: hover_y 7s ease-in-out infinite;
  animation: hover_y 7s ease-in-out infinite;
}

@-webkit-keyframes hover_y {
 0%, 100% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(10%);
	}
}
@-moz-keyframes hover_y {
  0%, 100% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(10%);
	}
}
@-o-keyframes hover_y {
  0%, 100% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(10%);
	}
}
@keyframes hover_y {
	0%, 100% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(10%);
	}
}

@-webkit-keyframes hover_x {
  0%, 100% {
		transform: translateX(0);
	}
	50% {
		transform: translateX(5%);
	}
}
@-moz-keyframes hover_x {
  0%, 100% {
		transform: translateX(0);
	}
	50% {
		transform: translateX(5%);
	}
}
@-o-keyframes hover_x {
  0%, 100% {
		transform: translateX(0);
	}
	50% {
		transform: translateX(5%);
	}
}
@keyframes hover_x {
  0%, 100% {
		transform: translateX(0);
	}
	50% {
		transform: translateX(5%);
	}
}

.stars {
      position:absolute;
      top:500%;
      bottom:100%;
      width:100%;
      height:100%;
      display:block;


    }
.stars {
      background:#000 url(image/stars.png) repeat top center;
      z-index:0;
      opacity: 0.5;
    }






/* #myButton {
  position: absolute;

} */






/*REEEEEEEEEEESPONSIVE*/
@media (max-width: 650px) {
  .Red {
    font-size: 1.4em;
  }
}
